.navBar {
  display: flex;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
}
.navBar h1 {
  color: rgb(10, 12, 24);
}
.navBar .links {
  margin-left: auto;
  margin-right: 20px;
}
.navBar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}
.navBar a:hover {
  color: #3577f1;
}