.about-container{
    width: 1800px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.pic-container{
    position: absolute;
    left: 100px;
    top: 150px;
}