@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Oswald:wght@500&family=PT+Sans+Narrow&family=Playfair+Display&display=swap');

body{
  margin: 0;
  font-family: Playfair Display, 'Times New Roman', Times, serif;

}
/* Home Styles */
.title{
  width: 500px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
}
.title h1{
  font-size: 50px;
  position: absolute;
  left: 80px;
  top: 20px;
}
.title p{
  position: absolute;
  left: 190px;
  top: 100px;
}
.main-container{
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
}
.center-logo{
  position: absolute;
  left: 250px;
  top: 120px;
}
.center-logo:hover{
  transition: all 1s;
  text-shadow: 0px 0px 5px rgb(52, 121, 148),
              0px 0px 30px  rgb(52, 121, 148);
}
.center-logo a{
  text-decoration: none !important;
  color: inherit;
}
.center-logo i{
  color: rgb(10, 12, 24);
}
.python-logo{
  position: absolute;
  left: 170px;
  top: 60px;
}
.python-logo p{
  position: absolute;
  top: 30px;
}
.python-logo:hover{
  transition: all 1s;
  text-shadow: 0px 0px 5px rgb(52, 121, 148),
              0px 0px 30px  rgb(52, 121, 148);
}
.js-logo{
  position: absolute;
  left: 480px;
  top: 60px;
}
.js-logo p{
  position: absolute;
  top: 30px;
  right: -13px;
}
.js-logo:hover{
  transition: all 1s;
  text-shadow: 0px 0px 5px rgb(52, 121, 148),
              0px 0px 30px  rgb(52, 121, 148);
}
.html-logo{
  position: absolute;
  left: 120px;
  top: 150px;
}
.html-logo p{
  position: absolute;
  top: 30px;
}
.html-logo:hover{
  transition: all 1s;
  text-shadow: 0px 0px 5px rgb(52, 121, 148),
              0px 0px 30px  rgb(52, 121, 148);
}
.css-logo{
  position: absolute;
  left: 540px;
  top: 150px;
}
.css-logo p{
  position: absolute;
  top: 30px;
}
.css-logo:hover{
  transition: all 1s;
  text-shadow: 0px 0px 5px rgb(52, 121, 148),
              0px 0px 30px  rgb(52, 121, 148);
}
.react-logo{
  position: absolute;
  left: 490px;
  top: 240px;
}
.react-logo p{
  position: absolute;
  top: 30px;
}
.react-logo:hover{
  transition: all 1s;
  text-shadow: 0px 0px 5px rgb(52, 121, 148),
              0px 0px 30px  rgb(52, 121, 148);
}
.java-logo{
  position: absolute;
  left: 160px;
  top: 240px;
}
.java-logo p{
  position: absolute;
  top: 30px;
}
.java-logo:hover{
  transition: all 1s;
  text-shadow: 0px 0px 5px rgb(52, 121, 148),
              0px 0px 30px  rgb(52, 121, 148);
}
/* Search bar styles */
.nav-container{
  height: 61px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
}
.search-container{
  width: 394px;
  height: 44px;
  position: absolute;
  left: 50px;
  top: 7px;
  border: 1px solid black;
}
#search-button{
  width: 50px;
  height: 46px;
  position: absolute;
  left: 435px;
  top: 7px;
  background-color: rgb(180, 187, 199);
}
#search-button:hover{
  transition: all 0.5s;
  background-color: rgb(228, 232, 238);
  
}
.search-input{
  font-size: 20px;
  width: 317px;
  height: 26px;
  position: absolute;
  left: 15px;
  top: 9px;
  border: none;
  outline: none;
}
.drop-down{
  position: absolute;
  left: 350px;
  top: 10px;
}
.drop-down button{
  color: black;
  cursor: pointer;
  border: none;
}
.drop-down button:hover{
  background-color: aliceblue;
}
.drop-down a{
  display: block;
  text-decoration: None;
  padding: 10px 15px;
}
.drop-down .content{
  display: none;
  position: absolute;
  right: 0px;
  background-color: rgb(255, 255, 255);
  max-width: 90px;
  box-shadow: 2px 2px 5px black;
  text-align: center;
}
.drop-down:hover .content{
  display: block;
}
.content a:hover{
  background-color: aliceblue;
}
